<%#= @class.first %>
<div class="main">
  <% @users.each do |a| %>
    <%#= a %>
    <div>
      <div class="image">
        <%#= image_tag(a["avatar"]) %>
      </div>
      <h3><%#= a["name"] %><%= a["login"] %></h3>
    </div>
  <% end %>
</div>